# Data Science Tools & Ecosystem

## In this Notebook, Data Science Tools & Ecosystems are summarized.

### __Objectives:__
- List popular languages for Data Science.
- List commonly used libraries for Data Science.
- Make a few examples of some arithmetic expressions in Python.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientist include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
| ------------------ |
| Rstudio |
| ApacheSpark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author:
Arsham Chamani